@{
    ViewBag.Title = "Öğrenci Paneli";
}

<div class="container">
    <h2>Hoş geldiniz, @Session["KullaniciAd"]</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Ders Seçimi</div>
                <div class="panel-body">
                    @Html.ActionLink("Ders Seç", "DersSecim", "Ogrenci", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Seçilen Dersler</div>
                <div class="panel-body">
                    @Html.ActionLink("Derslerim", "SecilenDersler", "Ogrenci", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    @Html.ActionLink("Çıkış Yap", "Logout", "Account", null, new { @class = "btn btn-danger" })
</div>
